body{
    background-color: #dbc27cda;
	font-family:serif;
	margin: 0;
	padding: 0;

}
p {
    font-size: 30px;
	text-align: left;
	color: #0e0606;
	margin-left: 5%;
	margin-right: 5%;
	
}
