body {
    background-color: #dbc27cda;
	font-family:serif;
	margin: 0;
	padding: 0;
}

#whats {
    width: 3%;
}

h1 {
    font-size: 50px;
    text-align: center;
}

#titulo {
    font-size:80px;
    color: #0e0606;
    text-align:center;
   }

h2 {
    font-size: 40px;
    text-align: center;
}

p {
    font-size: 40px;
    text-align: center;
}

nav li {
	position: relative;
    padding: 30px;
    padding-right: 0%;
    display: inline-block;
	
}

nav a {
	font-size: 35px;
	text-transform: uppercase;
	font-weight: lighter;
	text-decoration: none;
	color: #2e0f0f;
	text-align: center;
}
nav a:hover {
    color: #2e0f0f;
    text-decoration: underline;
}

.texto2 {
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(0, 0, 0);

}

button {
    background:whitesmoke ;
}

.botao {
    margin-left: auto;
    margin-right: auto;
    display: block;
        
}

#rodape {
	background-color:#675c47;
	width: 100%;
	color: #efe5d0;
	text-align:center;
	 padding:0px;
	 margin:0px;
	 font-size:20px;
	
}
