body{
    background-color: #dbc27cda;
	font-family:serif;
	margin: 0;
	padding: 0;
}
p {
	font-size: 30px;
	text-align: left;
	color: #0e0606;
	margin-left: 5%;
	margin-right: 5%;
}
h1 {
	font-size:80px;
	color: #0e0606;
	text-align:center;
   }
nav li {
	position: relative;
    padding: 30px;
    padding-right: 0%;
    display: inline-block;
	
}

nav a {
	font-size: 35px;
	text-transform: uppercase;
	font-weight: lighter;
	text-decoration: none;
	color: #2e0f0f;
	text-align: center;
}