body {
	background-color: #dbc27cda;
	font-family:serif;
	margin: 0;
	padding: 0;
}

.caixa nav ul li {
	display: inline-block;
	
		
}

nav li {
	position: relative;
    padding: 30px;
    padding-right: 0%;
	
}

nav a {
	font-size: 35px;
	text-transform: uppercase;
	font-weight: lighter;
	text-decoration: none;
	color: #2e0f0f;
	text-align: center;
}
nav a:hover {
    color: #2e0f0f;
    text-decoration: underline;
}

p {
	font-size: 30px;
	text-align: left;
	color: #0e0606;
	margin-left: 5%;
	margin-right: 5%;
	
}




#principal {
   background:#330d0db0 ; 
   font-size:105%;
   padding:15px;
   margin:0px 10px 10px 10px;
}

h1 {
 font-size:80px;
 color: #0e0606;
 text-align:center;
}
h2 {
	font-size: 55px;
	color: #2e0f0f;
	text-align:center;
}
h3 {
	font-size: 125%;
	color: #330d0db0;
	text-align: center;
}

